@import url("https://fonts.googleapis.com/css2?family=Syne:wght@400;700&family=DM+Sans:wght@300;400;500&display=swap");
@import "tailwindcss";

@theme {
  --color-dark: #080c14;
  --color-accent: #58a6ff;
  --font-syne: "Syne", sans-serif;
}

body {
  background-color: #080c14;
  color: #e6edf3;
}
